@import url(http://fonts.googleapis.com/css?family=Philosopher);

body
{
	margin: 0 auto;
}

.okvir
{
	width: 980px;
	margin: 0 auto;
}

#zaglavlje
{
	height: 100px;
	background-image: url("slike/it_logo_final.jpg");
	background-repeat: no-repeat;
}

#zaglavlje h1
{
	color: black;
	font-family: Philosopher;
	font-size: 22pt;
	margin-left: 100px;
	padding: 15px 2px 2px 2px;
}

#login 
{
	float: right;
	margin-top: -62px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 1px 0px 0px 3px;
}

#login a
{
	margin: 0 auto;
	text-decoration: none;
	color: black;
	padding: 5px 10px 5px 5px;
}

#login a:hover
{
	text-decoration: underline;
}

.zadnji_u_meniju a
{
	border-right: 0 !important;
}

.glavni_meni li
{
	display: inline;
}

.glavni_meni
{
	text-align: center;
}

.glavni_meni a
{
	text-decoration: none;
	padding: 10px 30px 10px 30px;
	text-align: center;
	color: black;
	font-family: Philosopher;
	font-size: 17pt;
	border-right: 2px solid #3399FF;
}

#baner
{
	height: 234px;
	background-image: url("slike/glavna_slika.jpg");
	background-repeat: no-repeat;
}

#lijevo
{
	float: left;
	width: 440px;
}

#desno
{
	float: right;
	width: 440px;
}

.novosti_konkurs
{
	float: right;
	width: 490px;
	padding: 1px 2px 15px 10px;
}

.novosti_konkurs h4
{
	font-family: Philosopher;
	font-size: 13pt;
}

.novosti_konkurs h5
{
	font-size: 9pt;
	color: gray;
}

.novosti_konkurs p
{
	font-family: Philosopher;
	font-size: 12pt;
}

.novosti_konkurs a
{
	font-size: 11pt;
	text-decoration: none;
	color: gray;
	float: right;
	padding: 2px 30px 2px 2px;
}

.novosti_konkurs a:hover
{
	text-decoration: underline;
}

#podnozje
{
	clear: both;
}

#podnozje p
{
	text-align: center;
	font-size: 11px;
	padding: 40px 10px 5px 10px;
}

.dl
{
	width: 450px;
	height: 200px;
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

#dl_tekst
{
	float: right;
	width: 220px;
}

#dl_slika
{
	float: left;
	width: 190px;
	height: 141px;
	padding: 10px 5px 10px 5px;
	background-image: url("slike/dl_slika_final.jpg");
	background-repeat: no-repeat;
	margin-left: 14px;
	margin-top: -3px;
}

#dl_tekst a
{
	font-size: 12pt;
	text-decoration: none;
	font-weight: bold;
	color: #009999;
	padding: 5px 30px 5px 10px;
	float: right;
}

#dl_tekst a:hover
{
	text-decoration: underline;
}

.dl h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

#dl_tekst p
{
	padding: 0px 10px 5px 10px;
	text-align: left;
}

.edx
{
	width: 450px;
	height: 200px;
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

#edx_slika
{
	float: left;
	width: 190px;
	height: 141px;
	padding: 10px 5px 10px 5px;
	background-image: url("slike/edx_final.jpg");
	background-repeat: no-repeat;
	margin-left: 14px;
	margin-top: -3px;
}

#edx_tekst
{
	float: right;
	width: 220px;
}

#edx_tekst a
{
	font-size: 12pt;
	text-decoration: none;
	font-weight: bold;
	color: #009999;
	padding: 24px 30px 5px 10px;
	float: right;
}

#edx_tekst a:hover
{
	text-decoration: underline;
}

.edx h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

#edx_tekst p
{
	padding: 0px 10px 5px 10px;
	text-align: left;
}

#partneri
{
	width: 980px;
	height: 250px;
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

#partneri ul
{
	list-style-image: url("slike/partner1.png");
	padding: 10px 5px 5px 100px;
}

#partneri h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

#partneri a
{
	font-size: 14pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: bold;
}

#partneri a:hover
{
	text-decoration: underline;
}

.studij_klasa
{
	width: 980px;
	padding: 0px 10px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

.studij_klasa h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

.studij_klasa p
{
	padding: 5px 10px 5px 10px;
	text-align: left;
	font-size: 14pt;
}

.studij_klasa a
{
	font-size: 14pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 20px;
	font-weight: bold;
}

.studij_klasa a:hover
{
	text-decoration: underline;
}

.bm_klasa
{
	width: 980px;
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

.bm_klasa h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

.tabela_program
{
	border-collapse: collapse;
	width: 500px;
}

.tabela_program table,td,th
{
	border: 1px solid gray;
}

.tabela_program td,th
{
	height: 25px;
	padding: 5px 5px 5px 5px;
}

.tabela_program td
{
	width: 330px;
}

.tabela_program caption
{
	background-color: lightblue;
	font-weight: bold;
	font-size: 13pt;
	padding: 10px 5px 10px 5px;
	border: 1px solid black;
}

.tabela_program input
{
	padding: 2px 3px 2px 3px;
	margin: 0px 4px 0px 1px;
	display: inline;
}

.red1
{
	background-color: #F8F8F8;
}

.kolona1 th
{
	width: 80px;
}

.master1
{
	padding: 15px 0px 35px 60px;
	margin-left: 177px;
	margin-right: 40px;
}

#desno h3
{
	background-color: lightgray;
	padding: 7px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
	float: right;
	width: 490px;
}

.konkurs_slika
{
	float: right;
	width: 76px;
	height: 77px;
	padding: 10px 50px 5px 1px;
	background-image: url("slike/novost3_final.jpg");
	background-repeat: no-repeat;
	margin-top: 5px;
}

.odbrana_slika
{
	float: right;
	width: 76px;
	height: 77px;
	padding: 10px 50px 5px 1px;
	/*background-image: url("slike/novost1_final.jpg");*/
	background-repeat: no-repeat;
	margin-top: 5px;
}

#kontakt h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

#kontakt p
{
	padding: 5px 10px 5px 10px;
	text-align: left;
	font-size: 14pt;
}

#forma
{
	padding: 0px 10px 10px 35px;
}

#dugme input
{
	padding: 5px 8px 5px 8px;
	margin-left: 386px;
}

#forma label
{
	padding: 1px 2px 1px 3px;
}

#pitanje
{
	padding: 15px 1px 15px 1px;
}

#kontakt
{
	width: 980px; 
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

#imePrezime input
{
	font-size: 10pt;
	padding: 1px;
	width: 300px;
	margin-left: 7px;
}

#mail input
{
	font-size: 10pt;
	padding: 1px;
	width: 300px;
	margin-left: 43px;
}

#mjestoValidacija input
{
	font-size: 10pt;
	padding: 1px;
	width: 300px;
	margin-left: 87px;
}

#PBValidacija input
{
	font-size: 10pt;
	padding: 1px;
	width: 300px;
	margin-left: 40px;
}

#pitanje textarea
{
	margin-top: 5px;
}

#forma p
{
	text-align: left;
	padding: 0px 2px 0px 1px;
}

#forma p.validacija {
font-size: 10pt;
color: #D80000;
display: none;
}

#bnivo2
{
	display: none;
}

#bpnivo3
{
	display: none;
}

#bdnivo3
{
	display: none;
}

#btnivo3
{
	display: none;
}

#mnivo2
{
	display: none;
}

#znivo2
{
	display: none;
}

#mpnivo3
{
	display: none;
}

#mdnivo3
{
	display: none;
}

#bnivo2 a
{
	font-size: 13pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: bold;
}

#bnivo2 a:hover
{
	text-decoration: underline;
}

#bnivo2 ul
{
	list-style-type: none;
}

#bpnivo3 ul
{
	list-style-type: circle;
	padding: 0px 0px 0px 50px;
}

#bdnivo3 ul
{
	list-style-type: circle;
	padding: 0px 0px 0px 50px;
}

#btnivo3 ul
{
	list-style-type: circle;
	padding: 0px 0px 0px 50px;
}

#bpnivo3 a
{
	font-size: 13pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: normal;
}

#bpnivo3 a:hover
{
	text-decoration: underline;
}

#bdnivo3 a
{
	font-size: 13pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: normal;
}

#bdnivo3 a:hover
{
	text-decoration: underline;
}

#btnivo3 a
{
	font-size: 13pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: normal;
}

#btnivo3 a:hover
{
	text-decoration: underline;
}

#mnivo2 a
{
	font-size: 13pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: bold;
}

#znivo2 a
{
	font-size: 13pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: bold;
}

#mnivo2 a:hover
{
	text-decoration: underline;
}

#znivo2 a:hover
{
	text-decoration: underline;
}

#mnivo2 ul
{
	list-style-type: none;
}

#znivo2 ul
{
	list-style-type: none;
}

#mpnivo3 ul
{
	list-style-type: circle;
	padding: 0px 0px 0px 50px;
}

#mdnivo3 ul
{
	list-style-type: circle;
	padding: 0px 0px 0px 50px;
}

#mpnivo3 a
{
	font-size: 13pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: normal;
}

#mpnivo3 a:hover
{
	text-decoration: underline;
}

#mdnivo3 a
{
	font-size: 13pt;
	text-decoration: none;
	color: black;
	padding: 5px 30px 5px 10px;
	font-weight: normal;
}

#mdnivo3 a:hover
{
	text-decoration: underline;
}

#bnivo2 li
{
	padding: 0px 0px 3px 0px;
}

#mnivo2 li
{
	padding: 0px 0px 3px 0px;
}

#znivo2 li
{
	padding: 0px 0px 3px 0px;
}

.validacija_slika
{
	width: 16px;
	height: 16px;
	background-image: url("slike/validacija.png");
	background-repeat: no-repeat;
	display: none;
}

.zpregled_klasa
{
	width: 980px;
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

.zpregled_klasa h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

.zpregled
{
	padding: 15px 0px 35px 60px;
	margin-left: 177px;
	margin-right: 40px;
}

#zdodaj h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

#zdodaj
{
	width: 980px; 
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

#Zforma
{
	padding: 0px 10px 10px 35px;
}

#Zforma label
{
	padding: 1px 2px 1px 3px;
}

#Zforma p
{
	font-size: 10pt;
	color: #D80000;
	text-align: left;
	padding: 0px 2px 0px 1px;
	display: none;	
}

#dugme2 input
{
	padding: 5px 8px 5px 8px;
	margin-left: 386px;
}

#nazivZavrsnog input
{
	font-size: 10pt;
	padding: 1px;
	width: 300px;
	margin-left: 7px;
}

#opisZavrsnog input
{
	font-size: 10pt;
	padding: 1px;
	width: 300px;
	margin-left: 15px;
}

#slikaZavrsnog input
{
	font-size: 10pt;
	padding: 1px;
	width: 300px;
	margin-left: 12px;
}

#dugmeOsvjezi input
{
	padding: 5px 8px 5px 8px;
	margin-left: 430px;
}

div #dugmeOsvjezi
{
	padding: 15px 0px 0px 0px;
}

#zuredi h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

#zuredi
{
	width: 980px; 
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}

#ZUforma
{
	padding: 0px 10px 10px 35px;
}

#ZUforma label
{
	padding: 1px 2px 1px 3px;
}

#ZUforma p
{
	font-size: 10pt;
	color: #D80000;
	text-align: left;
	padding: 0px 2px 0px 1px;
	display: none;	
}

#dugme3 input
{
	padding: 5px 8px 5px 8px;
	margin-left: 386px;
}

.detaljno_slika
{
	float: right;
	width: 76px;
	height: 77px;
	padding: 10px 50px 5px 1px;
	background-repeat: no-repeat;
	margin-top: -70px;
}

#detaljno
{
	width: 980px;
	/*height: 250px;*/
	padding: 0px 0px 5px 0px;
	border-left: 2px solid gray;
	border-bottom: 2px solid gray;
}


#detaljno h3
{
	background-color: lightgray;
	padding: 5px 10px 5px 10px;
	font-family: Philosopher;
	font-size: 15pt;
}

#novost_detaljno p
{
	font-family: Philosopher;
	font-size: 12pt;
}

#novost_detaljno
{
	padding: 1px 0px 1px 20px;
}

